body
  margin 0
  padding 0

.container
  background #222
  position absolute
  height 100%
  width 100%

#stage
  height 100%
  width 100%

#homepage
  height 100%
  width 100%
  color #FFF
  font-family "Lucida Console"

  h1
    font-size 4rem
    text-align center

  h2
    font-size 2rem
    text-align center

  #md-url
    margin-top 3rem
    text-align center

   input 
      outline none
      display inline-block
      width 40%
      -webkit-box-sizing content-box
      -moz-box-sizing content-box
      box-sizing content-box
      padding 1rem 1.4rem
      border 1px solid #b7b7b7
      -webkit-border-radius 1rem
      border-radius 1rem
      font normal 1.5rem/normal "Lucida Console", Monaco, monospace
      color #222
      -o-text-overflow clip
      text-overflow clip
      background rgba(252,252,252,1)
      -webkit-box-shadow 2px 2px 2px 0 rgba(0,0,0,0.2) inset
      box-shadow 2px 2px 2px 0 rgba(0,0,0,0.2) inset
      text-shadow 1px 1px 0 rgba(255,255,255,0.66) 

  #err-msg
    color pink
    display none
    font-size 2rem
    text-align center
