html
  head
    meta(charset='utf-8')
    title Markteller
  body
    .container
      #homepage
        h1 Markteller
        h2 A text-to-speech robot via markdown
        div
          input#doc-url(placeholder="HackMD URL")
        #res-msg
      #markvideo
        #header
          a(href='/') Markteller
          p#marktitle
        .markteller
        #footer
          #prev-btn <<
          #progress  
          #next-btn >>
