html
  head
    meta(charset='utf-8')
    title
  body
    #scene
      img
    #subtitle
    svg#screen
      g#play-symbol
        circle
        polygon
    #prev-btn
    #next-btn
    #timer
    #progress
