html
  head
    meta(charset='utf-8')
    title Storyteller
  body
    .container
      #homepage
        h1 Storyteller
        h2 A text-to-speech player via markdown
        #md-url
          input(placeholder="Enter HackMD/Hackpad URL ...")
        #err-msg
      #stage
