html
  head
    meta(charset='utf-8')
    title Storyteller
  body

    #homepage
      h1 Storyteller
      h2 A story robot via online markdown doc
      #md-url
        input(placeholder="Enter HackMD/Hackpad URL ...")
      #err-msg

    #stage
